.toastStyle {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff3333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.closeButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}